.header {
  margin: 28px auto 0;
  max-width: 92.5%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 425px) {
  .header {
    margin-top: 16px;
  }
}
