.cover__background {
  background-image: url(../../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 740px;
  max-width: 1280px;
  margin: 0 48px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.cover__background::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2A2C2F;
  opacity: 0.3;
}

.cover__background:hover::before {
  opacity: 0.8;
}


@media (max-width: 1279px) {
  .cover__background {
    min-height: 640px;
    margin: 0;
  }
}

@media (max-width: 1023px) {
  .cover__background {
    min-height: 480px;
  }
}

@media (max-width: 767px) {
  .cover__background {
    min-height: 200px;
  }
}
