.cover__background {
  background-image: url(../../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 594px;
  width: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cover__background::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2A2C2F;
  opacity: 0.3;
}

.cover__background:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1279px) {
  .cover__background {
    min-height: 562px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__background {
    min-height: 500px;
  }
}

@media screen and (max-width: 767px) {
  .cover__background {
    min-height: 272px;
  }
}

@media screen and (max-width: 374px) {
  .cover__background {
    min-height: 216px;
  }
}
