.places__website-link {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFF;
}

.places__link:hover {
  opacity: 0.8;
}
