.video__item-block {
  position: absolute;
  bottom: 30px;
  left: 30px;
  display: flex;
  flex-direction: column;
  justify-items: start;
}

@media screen and (max-width: 1023px) {
  .video__item-block {
    bottom: 24px;
    left: 24px;
  }
}

@media screen and (max-width: 374px) {
  .video__item-block {
    bottom: 16px;
    left: 16px;
  }
}
